{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-evenly bg-primary w-100 p-5">
<div class="blog_width container bg-warning">
    <header class="pb-5 d-flex justify-content-center">
        <h2>helloo..</h2>
    </header>
    {% comment %} <div class="container"> {% endcomment %}
                {% comment %} {% if latestpost_list %} {% endcomment %}
                                <div class="card mb-4 w-100">
                                    <img class="card-img-top" src="{{star_post.img.url}}" width="500px" height="500px" alt="..." />
                                </div>
                {% comment %} {% else %} {% endcomment %}
                    {% comment %} <h2 class="text-center">Coming Soon...</h2> {% endcomment %}
                {% comment %} {% endif %} {% endcomment %}
            {% comment %} </div> {% endcomment %}
    </div>
    <div class="w-25">
        <div class="card mb-4 w-100">
            <img class="card-img-top" src="{{star_post.img.url}}" width="500px" height="500px" alt="..." />
        </div>
        <div class="card mb-4 w-100">
            <img class="card-img-top" src="{{star_post.img.url}}" width="500px" height="500px" alt="..." />
        </div>
        <div class="card mb-4 w-100">
            <img class="card-img-top" src="{{star_post.img.url}}" width="500px" height="500px" alt="..." />
        </div>
</div>
</div>
    {% endblock content %}

