{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-evenly  w-100 p-5 blog_main_container">
<div class="blog_block_1 container ">
                <header class="d-flex justify-content-center my-2">
                    <h1>{{blog.title}}</h1>
                </header>
                <div class="item-1 d-flex justify-content-center">
                    <div  class="card d-flex justify-content-center">
                        <div class="thumb w-100 p-4 d-flex justify-content-center">
                            <img src="{{blog.img.url}}" class="blog_img">
                        </div>
                            <article>
                                <p>{{blog.body | safe}}</p>
                            </article>
                        </div>
                    </div>
                </div>
                {% comment %} 
                    <div class="comments-section">
                        <h2>Comments</h2>
                        {% for comment in post_comments %}
                            <div class="comment">
                                <p>{{ comment.sender.get_username }}: {{ comment.message }}</p>
                            </div>
                        {% endfor %}
                
                        {% if user.is_authenticated %}
                            <form method="post" action="{% url 'send_comment' slug=blog.slug %}">
                                {% csrf_token %}
                                <textarea name="message" placeholder="Add your comment" required></textarea>
                                <input type="hidden" name="post_id" value="{{ blog.id }}">
                                <button type="submit">Submit Comment</button>
                            </form>
                        {% else %}
                            <p>Login to leave a comment.</p>
                        {% endif %}
                    </div> 
                {% endcomment %}
    <div class="blog_block_2 container">
        {% for post in latestpost_list %}
        <div class="blog-post-card ad_block1">
            <!-- <img src="https://via.placeholder.com/300" alt="Blog Post Image"> -->
            <h2>{{post.title}}</h2>
            <p class="post-meta">By {{post.author.first_name}} {{post.author.last_name}} | {{post.post_date}}</p>
            <p class="post-excerpt">{{post.meta_description}}</p>
            <a href="#" class="read-more-btn">Read More</a>
        </div>
        {% endfor %}
</div>
</div>
{% endblock content %}

