{% extends "base.html" %}
{% load static %}
{% block content %}
  
    <!-- Hero Section -->
    <div class="container_body">
    
    <div class="header bg_img">
        <div class="container">
            <h1>{{ sidebar_content.hero_title }}</h1>
            <p>{{ sidebar_content.hero_subtitle }}</p>
        </div>
    </div>


    
    <!-- Blog Posts Section -->
    <div class="blog-posts">
        <div class="container d-flex justify-content-around my-5">
            <!-- Blog Post Cards Go Here -->
          <div class="w-60">
            <!--block 1  -->
            {% for post in latestpost_list %}
            <div class="blog-post-card home_content">
                <img src="{{post.img.url}}" alt="{{post.image_alt}}" class="home_img">
              <div>
                <h2>{{post.title}}</h2>
                <p class="post-meta">By {{post.author.first_name}} {{post.author.last_name}} | {{post.post_date}} </p>
                <p class="post-excerpt">{{post.meta_description}}</p>
                <a href="{% url 'blog-detail' post.slug %}" class="read-more-btn">Read More</a>
              </div>
            </div>
            {% endfor %}
            </div>

            <!-- Repeat the above structure for additional blog posts -->
            <div class="w-30">
                <div class="sidebar">
                    {% if sidebar_content %}
                        <div class="sidebar-content">
                            <h2>{{ sidebar_content.side_title }}</h2>
                            <p>{{ sidebar_content.side_desc | safe }}</p>
                        </div>
                    {% endif %}
            </div>
            
  <div class="blog-post-card ad_block1">
      <!-- Display Category List -->
      <h2>Categories</h2>
      <ul class="category-list">
          {% for category in cat_list %}
              <li><a href="{% url 'category-view' category.slug %}">{{ category.categoryname }}</a></li>
          {% endfor %}
      </ul>
  </div>
  <!-- Example of another card (you can remove or modify as needed) -->
  

        </div>
    </div>
    {% endblock content %}