{% load static %}

<link rel="stylesheet" href="{% static 'css/splash.css' %}">

{% block content %}

<div class="splash_intro">
    <div class="splash_logo_header">
      <span class="splash_logo splash_font_h1">Hello,&nbsp; </span>
      <span class="splash_logo splash_font_h1">{{ user.username }}</span><br>
      <span class="splash_logo splash_font_h2">Welcome&nbsp; </span>
      <span class="splash_logo splash_font_h2">to&nbsp; </span>
      <span class="splash_logo splash_font_h2">RaagViraag!</span>
    </div>
</div>

{% endblock content %}

<script>
    // Wait for 5 seconds (5000 milliseconds) and then redirect
    setTimeout(function() {
        window.location.href = "{% url 'index' %}";  // Replace 'index' with the name of your home page URL pattern
    }, 5000);
</script>